
html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
i,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
    outline: none;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    /* background-color: #fff; */
    width: 100%;
    font-family: "黑体";
}

body {
    font-size: 16px;
}


nav,
article,
aside,
details,
main,
header,
footer,
section,
fieldset,
figcaption,
figure {
    display: block;
}

img,
a,
button,
em,
del,
strong,
var,
label,
cite,
small,
time,
mark,
code,
textarea {
    display: inline-block;
}

header,
section,
footer {
    position: relative;
}

ol,
ul {
    list-style: none;
}

input,
button,
textarea {
    border: 0;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1em;
    /*-webkit-appearance:none;*/
    /* background-color: rgba(0, 0, 0, 0); */
}

span {
    display: inline-block;
}

a:active,
a:hover {
    outline: 0;
}

a,
a:visited {
    color: #000;
    text-decoration: none;
}

label,
.wordWrap {
    word-wrap: break-word;
    word-break: break-all;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

/**wap端预览图片样式*/
.swiper-banner-browser-img {
    height: auto;
    width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.swiper-pagination .swiper-pagination-bullet {
    /* background: #fff; */
    opacity: .5;
}

.swiper-pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

/*Chrome 下去除type ==  "number"  时 的右侧图标*/
#newCode::-webkit-outer-spin-button,
#newCode::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

/*火狐 下去除type ==  "number"  时 的右侧图标*/
input[type="number"] {
    -moz-appearance: textfield;
}

/*IE下去除 右边的×*/
input::-ms-clear {
    display: none;
}

/*超出隐藏-单行*/
.text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
}

/*超出隐藏-多行*/
.text-hidden-n {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

/*弹窗样式  两个按钮*/
.layui-m-layerchild.quakoo-dialog {
    width: 66.3%;
    padding: 25px 14px 0;
    box-sizing: border-box;
    max-width: 640px;
}

.layui-m-layerchild.quakoo-dialog .layui-m-layercont {
    padding: 0 11px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 13px;
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFangSC;
    font-weight: 600;
    color: rgba(52, 52, 52, 1);
}

.layui-m-layerchild.quakoo-dialog .layui-m-layerbtn {
    height: 44px;
    line-height: 44px;
    background: #fff;
    border-color: #DCDCDC;
}

.layui-m-layerchild.quakoo-dialog .layui-m-layerbtn span {
    font-size: 16px;
    font-family: PingFangSC-Regular, PingFangSC;
    font-weight: 400;
    color: rgba(151, 151, 151, 1);
}

.layui-m-layerchild.quakoo-dialog .layui-m-layerbtn span[yes] {
    color: #2CDBB0;
}

.layui-m-layerchild.quakoo-dialog .layui-m-layerbtn span[no] {
    border-color: #DCDCDC;
    color: #979797FF;
}