.mui-poppicker {
	position: fixed;
	left: 0px;
	width: 100%;
	z-index: 9999999999;
	background-color: #eee;
	border-top: solid 1px #ccc;
	/*
	*/
	-webkit-transition: .3s;
	bottom: 0px;
	-webkit-transform: translateY(300px);
}


.mui-bar .mui-backdrop
{
	background: none;
}
.mui-backdrop
{
	position: fixed;
	z-index: 998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background-color: rgba(0, 0, 0, .3);
}

.mui-bar-backdrop.mui-backdrop
{
	bottom: 50px;

	background: none;
}

.mui-backdrop-action.mui-backdrop
{
	background-color: rgba(0, 0, 0, .3);
}

.mui-bar-backdrop.mui-backdrop, .mui-backdrop-action.mui-backdrop
{
	opacity: 0;
}
.mui-bar-backdrop.mui-backdrop.mui-active, .mui-backdrop-action.mui-backdrop.mui-active
{
	-webkit-transition: all .4s ease;
	transition: all .4s ease;

	opacity: 1;
}
.mui-poppicker.mui-active {
	-webkit-transform: translateY(0px);
}
.mui-android-5-1 .mui-poppicker {
	bottom: -300px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-android-5-1 .mui-poppicker.mui-active {
	bottom: 0px;
	-webkit-transition-property: bottom;
	-webkit-transform: none;
}
.mui-poppicker-header {
	padding: 6px;
	font-size: 14px;
	color: #888;
}
.mui-poppicker-header .mui-btn {
	font-size: 12px;
	padding: 5px 10px;
}

.mui-poppicker-bottom-button{
	position: absolute;
	z-index: 100;
	bottom: 0px;
	width: 100%;
	padding: 0;
}

.mui-poppicker-bottom-left{
	font-size: 18px;
	width: 50%;
	height: 45px;
	/*line-height: 45px;*/
	background: #fff;
}
.mui-poppicker-title{
	background-color: #ffffff;
	color: #5AC8E1;
	font-size: 18px;
	text-align: center;
	height: 45px;
	line-height: 45px;
	margin-bottom: 50px;
	font-weight: 600;
}

.mui-poppicker-bottom-right{
	font-size: 18px;
	width: 50%;
	height: 45px;
	background-color: #5AC8E1;
	color: #ffffff;
}
.mui-poppicker-btn-cancel {
	float: left;
}
.mui-poppicker-btn-ok {
	float: right;
}
.mui-poppicker-clear {
	clear: both;
	height: 0px;
	line-height: 0px;
	font-size: 0px;
	overflow: hidden;
}
.mui-poppicker-body {
	position: relative;
	width: 100%;
	height: 180px;
	border-top: solid 1px #ddd;
	bottom: 55px;
}
.mui-poppicker-body .mui-picker {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: none;
	float: left;
	background-color: #fff;
}